body{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

.inria-serif-light {
    font-family: "Inria Serif", serif;
    font-weight: 300;
    font-style: normal;
}

.inria-serif-regular {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.inria-serif-bold {
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.inria-serif-light-italic {
    font-family: "Inria Serif", serif;
    font-weight: 300;
    font-style: italic;
}

.inria-serif-regular-italic {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.inria-serif-bold-italic {
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-style: italic;
}


.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* From Uiverse.io by alexruix */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}









.cabecalho{
    background-color: #EE0000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menus_navegar{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.menus_navegar a{
    text-decoration: none;
    color: black;
    padding: 16px;
}

.menus_navegar ul{
    display: flex;
    flex-direction: row;
}


.menus_navegar li{
    margin: 10px;
    font-size: 35px;
}


.banner img{
    width: 100%;
}

.TituloPagina{
    background-color: #EE0000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 130px;
    align-items: center;
    margin-bottom: 20px;
}

.TituloPagina h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 65px;
}

.produtos{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-around;*/
    /*width: 100%;*/
}



.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    background-color: #A1A1A1;
    padding: 10px;
    align-items: center;
}

.logo-rodape{
    align-items: center;
    text-align: center;
}

.Sobre{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    align-items: center;
}

.textoSobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 810px;
    align-items: center;
    text-align: center;
}

.textoSobre p{
    font-size: 24px;
}


.avaliacoes{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.usuario{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 91px;
}

.usuario p{
    font-size: 45px;
    width: 700px;
    border: 3px solid black;
    padding: 20px;
    border-radius: 15px;
}

.fundoContato{
    background-image: url("/img/wallpaper_contato.jpg");
    /*background-repeat: no-repeat;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: -30px;
}

.contato{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1060px;
    height: 809px;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nome p{
    font-family: Inria Serif ;
    font-size: 35px;
}

.prt1{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}

.prt1 input{
    width: 380px;
    height: 70px;
}

.nome{
    margin-bottom: 65px;
}

.prt2 input{
    width: 380px;
    height: 478px;
}

/* From Uiverse.io by adamgiebl */
button {
    font-family: inherit;
    font-size: 20px;
    background: #ff0000;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: red solid 1px;
    border-radius: 40px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

button span {
    display: flex;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

button svg {
    display: flex;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
    transform: translateX(5em);
}

button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

.prt3 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 50px;
}

.tamCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 321px;
    border: 1px solid #272727;
    margin: 30px;
}
.tamCard p{
    text-align: center;
}


.parcelado{
    font-size: 10px;
    color: #A1A1A1;
    width: 131px;
}

.nomeProd{
    font-size: 16px;
    color: black;
    width: 220px;
}

.linha1{
    margin-bottom: 10px;
}

.marca{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.marca p{
    font-size: 65px;
}


.card {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    flex-direction: column;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
    background-color: #128c7e;
    transition-duration: 0.3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media(max-width: 768px){
    .fundoContato,
    .contato{
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .contato input{
        width: 100%;
    }
    .prt2{
        width: 100%;
        margin-bottom: 30px;
    }

    .Sobre{
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
}

